.REGISTER-container {
  background: url("https://uat.ordering-boafresh.ekbana.net/storage/category/thumbnail/6124de6c64ed7.png")
    no-repeat;
  background-size: cover;
  width: 100%;

  box-sizing: border-box;
  padding: 20px 40px 20px 40px;
  margin-bottom: 20px;
  background-position: right 80% bottom 50%;
}
