.PRODUCT-CARD-wrapper {
  box-sizing: content-box;
  width: 250px;
  border: 2px solid #fb9735;
}

.PRODUCT-CARD-image {
  width: 100%;
  height: 250px;
  object-fit: contain;
  overflow: hidden;
}

.PRODUCT-CARD-image:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}

.PRODUCT-CARD-title {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PRODUCT-LIST-title-container {
  background: url("https://uat.ordering-boafresh.ekbana.net/assets/images/breadcrumb-bg/boa1-breadcrumb.png")
    no-repeat;
  background-size: cover;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 40px 20px 40px;
  margin-bottom: 20px;
  /* background-position: right 50% bottom 50%; */
}

.MODAL-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 24px;
}
