.LANDING-image {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  object-fit: cover;
}

.LANDING-description {
  position: absolute;
  top: 45%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
}
