.google-map {
  width: 80%;
  height: 75vh;
}

.CONTACT-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0%, -50%);
  width: 300px;
  height: 300px;
  background-color: #3399cc;
  padding: 40px;
}

.CONTACT-info-content {
  border: 3px double #fff;
  height: 100%;
}
