.HOME-landing {
  box-sizing: border-box;

  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  padding-bottom: 50px;
}

.HOME-landing-text-wrapper {
  padding-top: 100px;
}

.HOME-text-wrapper {
  width: 150px;
  height: 150px;
  padding: 10px;

  background-color: rgb(255, 216, 188);
}

span.landing-span {
  color: #3399cc;
  font-weight: 900;
  font-size: 2em;
}

.HOME-delivery-info {
  box-sizing: border-box;
  border: 1px solid #fb9735;
  border-radius: 10px;
  margin-bottom: 100px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.568);
}

.HOME-categories-ads-wrapper {
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(to top, #ec1e516e, #ff730088),
    url("https://uat.ordering-boafresh.ekbana.net/storage/category/thumbnail/6124de6c64ed7.png");

  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
}

.HOME-category-item {
  border: 2px solid #fb9735;
  width: 180px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.HOME-category-image {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  transition: all 0.3s linear;
}
.HOME-category-image:hover {
  transform: scale(2);
}

.HOME-category-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.589);
}

.HOME-Ads-image {
  transition: all 0.3s ease-in-out;
  object-fit: cover;
  overflow: hidden;
}

.HOME-Ads-image:hover {
  transform: scale(1.1);
}

.HOME-hot-deals {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0.6) 0%,
    rgba(9, 9, 121, 0.6) 35%
  );
}
