.CHECKOUT-IMG {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: contain;
}

.ORDER-SUMMARY-title-container {
  border: 1px solid #e0e0e0;
  background-color: #3399cc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.ORDER-SUMMARY-item-container {
  border: 1px solid #e0e0e0;
}
.ORDER-SUMMARY-container {
  max-width: 400px;
  padding-top: 70px;
  margin-bottom: 100px;
  box-sizing: border-box;
}
