.SINGLE-PRODUCT-image {
  width: 100%;

  object-fit: contain;
}

.MODAL-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 24px;
}
