.heading {
  flex-grow: 3;
}

.TOPNAV-logo {
  width: 200px;
}

.TOPNAV-search-form {
  width: 100%;
}

.TOPNAV-search-wrapper {
  width: 100%;
  border-radius: 3px;
  position: relative;
}
.TOPNAV-search-icon-wrapper {
  border-radius: 0px 3px 3px 0px;
}
.TOPNAV-search-input-wrapper {
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  border: 2px solid #fb9735;
  border-radius: 3px 0px 0px 3px;
}
.TOPNAV-search-input {
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  border: 0px;
  border-radius: 3px 0px 0px 3px;
  padding: 10px;
}

.links.d-flex {
  flex-grow: 1;
  justify-content: space-around;
}

.TOPNAV-search-suggestions-wrapper {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
}
